div{
    margin: 10px;
}

label{
    text-align: right;
    color: rgb(153, 152, 152);
}

div.input{
    display: flex;
}

div.container{
    background-color:rgb(253, 253, 215);
    width: 230px;
    height: 280px;
    margin: auto;
    border: 2px solid blue;
}

div.container div{
    display: flex;
}

button{
    margin: 2px;
    background-color: rgb(223, 217, 217);
    height: 25px;
    width: 40px;
    border: 1px solid rgb(177, 177, 177);
}

div.top button{
    color: red;
    width: 70px;
}

input{
    margin-top: 10px;
    border: 2px solid black;
    width: 210px;
    text-align: right;
}